body {
  background-color: #1789FC;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: white;
  display: flex;
  justify-content: center;
}

p {
  color: black;
}

#about-text {
  margin: 5%;
}

.box {
  background-color: white;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landinglinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

#artists_list {
  max-height: 1000px;
  width: 300px;
  display: flex;
  justify-content: center;
}

