
body {
  background-color: #1789FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

h1, h2, h3 {
  color: white;
  display: flex;
  justify-content: center;
}

p {
  color: black;
}

.about-text {
  margin: 5%;
  text-indent: 50px;
}

.main-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.landinglinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup, #signin, #updatefollowings, #signout {
  background-color: #FDB833;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  border-style: groove;
  border-color: white;
  border-width: 5%;
}

#about {
  color: black;
  background-color: whitesmoke;
  border-radius: 100%;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-color: rgba(0, 0, 0, 0.132);
  border: 8px;

}

#landinglinksbox, #homelinksbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  padding: 100px;
}

a {
  color: white;
}

#artists_list {
  max-height: 500px;
  width: 300px;
  display: flex;
  justify-content: left;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 5%;
}

.messages {
  position: sticky;
  display: flex;
  justify-content: left;
  align-items: center;
}

.message_flash {
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  right: 25px;
}

.artistname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.xbutton {
  color: red;
  left: 50%;
}

.backarrow {
  background-color: whitesmoke;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 30%;
}

#backarrow {
  color: black;
  text-decoration: none;
}

.inputbar {
  border: 1px black solid;
  border-radius: 4px;
  padding: 6px;
  margin-top: 5%;
  margin-bottom: 5%;
}

#signinform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}

#repassword {
  width: 90px;
}

#goform {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.buttons {
  background-color: #FDB833;
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  border-style: groove;
  border-color: white;
  border-width: 5%;
}

#go {
  margin-bottom: 7px;
  height: 27px;
  width: 45px
}

#go2 {
  margin-bottom: 7px;
  margin-left: 7px;
  height: 27px;
  width: 45px
}

form {
  color: whitesmoke
}

.banner {
  margin-top: 5%;
}

.deletelink {

  background-color: whitesmoke;
  height: 40px;
  width: 120px;
  border-radius: 6px;
  border-color: red;
  border-style: groove;
  border-width: 5%;
  display: flex;
  flex-direction: column;
  justify-self: baseline;
  align-items: center;
}

#deleteacc {
  color: hsla(0, 100%, 50%, 0.721);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 10%;
}

#searchartistsbox, #filterform, #addform, #addsearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: space-between;
  padding: 5%;
}

#add-artist {
  background-color: #FDB833;
  height: 80px;
  width: 170px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  border-style: groove;
  border-color: white;
  border-width: 5%;
  left: 100px;
}

#infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}