{% extends 'base.html' %}
{% block content %}

<p class="backarrow"><a id="backarrow" href="/home/{{ user_id }}">Back ⬅️</a></p>

<h1 class="banner">Your Artists 🎵</h1>

<div id="searchartistsbox">
  <h3>Search:</h3>
  
  <form id="filterform" action="/artists-filter/{{ user_id }}" method="POST">
  
    <div>
      <input type="filter" name="filter">
    </div>
  
    <div>
      <input class="buttons" type="submit" value="Search">
    </div>
  
  </form>
</div>

<p id="add-artist"><a href="/add-artist/{{ user_id }}">Add artists</a></p>

<div class="box" id="artists_list">
  <ul>
  {% for artist in artists_list %}
    <li>
      <span class="artistname">{{ artist }}<form action="/artists-delete/{{ artist }}" method="POST"><input class="xbutton" type="submit" value="X"></form></span>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}