{% extends 'base.html' %}
{% block content %}

<p><a href="/home">Back ⬅️</a></p>

<h1>Your Artists 🎵</h1>

<h3>Search:</h3>
<form action="" method="POST">

  <div>
    <input type="filter" name="filter">
  </div>

  <div>
    <input type="submit" value="GO">
    <input type="submit" value="Save">
  </div>

</form>

<div id="artists_list">
  <ul>
  {% for artists in artist %}
    <li>
      {{ artist.artist_name }}
    </li>
    {% endfor %}
  </ul>
</div>

<p><a href="/add_artist/{{ user.user_id }}">Add artists</a></p>

{% endblock %}