{% extends 'base.html' %}
{% block content %}

<p><a href="/home/{{ user.user_id }}">Back ⬅️</a></p>

<h1>Your Artists 🎵</h1>

<h3>Search:</h3>
<form action="artists" method="POST">

  <div>
    <input type="filter" name="filter">
  </div>

  <div>
    <input type="submit" value="Search">
    <input type="submit" value="Save">
  </div>

</form>

<div class="box" id="artists_list">
  <ul>
  {% for artist in artists_list %}
    <li>
      <span>{{ artist }}<button type="button">X</button></span>
    </li>
    {% endfor %}
  </ul>
</div>

<p><a href="/add-artist/{{ user.user_id }}">Add artists</a></p>

{% endblock %}