{% extends 'base.html' %}
{% block content %}

<p class="backarrow"><a id="backarrow" href="/home/{{ user.user_id }}">Back ⬅️</a></p>

<h3 id="settings-banner">Account settings⚙️</h3>

<div class="box" id="settings-box">
  <div id="settings-options">
    <form id="settings-form" action="/settings/{{ user.user_id }}" method="POST">
      <label>
        Change your email:
      </label><br>
      <input class="inputbar" type="email" name="email" required>
      <input class="buttons" id="email-change" type="submit" value="Change Email"><br><br>
    <label>
      Change your password:
    </label><br><br>
      <input class="inputbar" id="setspass" type="password" name="password" required><br>
    <label>
        Re-enter new password:
    </label><br>
      <input class="inputbar" id="resetspass" type="password" name="repassword" required>
      <input class="buttons" id="pass-change" type="submit" value="Change Password">
      <a id="deleteacc"href="/delete/{{ user.user_id }}">Delete Account</a>
    </form>


  </div>
</div>



{% endblock %}