{% extends 'base.html' %}
{% block content %}

<p class="backarrow"><a id="backarrow" href="/">Back ⬅️</a></p>

<div id="signinbox">
<h2 class="banner">Howdy partner, welcome back 🤠</h2>

<form id="signinform" action="/signin" method="POST">

  <div id="emailform">
    <label>Email:<br>
      <input class="inputbar" type="email" name="email" required>
    </label>
  </div>

  <div id="goform">
    <label>Password:<br>
      <input class="inputbar" id="repassword" type="password" name="password" required>
    </label>
    <div>
      <input class="buttons" id="go2" type="submit" value="GO">
  </div>
  </div>

</form>
</div>

{% endblock %}