{% extends 'base.html' %}
{% block content %}

<p class="backarrow"><a id="backarrow" href="/">Back ⬅️</a></p>

<h1>Let's rock 🤘</h1>

<form id="signupform" action="signup" method="POST">

  <div id="createacc">
    <label>
      Email<br>
      <input class="inputbar" id="email" type="email" name="email">
    </label>
  </div>
  <div>
    <label>
      Password<br>
      <input class="inputbar" id="password"  type="password" name="password">
    </label>
  </div>

  <div id="goform">
    <label>
      Re-enter password<br>
      <input class="inputbar" id="repassword" type="password" name="pass2">
    </label>
    <div>
      <input class="buttons" id="go" type="submit" value="GO">
    </div>
  </div>

</form>

{% endblock %}