{% extends 'base.html' %}
{% block content %}

<h1>Let's rock 🤘</h1>

<form action="signup" method="POST">

  <div>
    <label>
      User-name
      <input type="name" name="name">
    </label>
  </div>

  <div>
    <label>
      Email
      <input type="email" name="email">
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>

  <div>
    <label>
      Re-enter password
      <input type="pass2" name="pass2">
    </label>
  </div>
  
  <div>
    <input type="submit" value="GO">
  </div>

</form>

{% endblock %}